<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show page!</title>
  </head>
  <body>
    <h1>This is your friend</h1>


    <h4><strong> Name:</strong> <%= context.name%></h4>
    <h4><strong> Description:</strong> <%= context.description%></h4>
    <img border="0" alt="Should be an image" src="<%=context.url%>" width="100" height="100">
    <form action="/edit/<%=context.id%>" method="get">
    <button type="submit"> Edit </button>
    </form>
    <hr>

  </body>
</html>
