<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="info_box">
        <h2>Submitted Information</h2>
      	<ul>
      		<li>Name: <strong><%= context.name %></strong></li>
      		<li>Dojo Location: <strong><%= context.location %></strong></li>
      		<li>Favorite Language: <strong><%= context.language %></strong></li>
      		<li>Comment: <strong><%= context.comment %></strong></li>
      	</ul>
	      <a href="/"><h3>Back</h3></a>
    </div>
  </body>
</html>
