<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API 1955</title>
    <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>API 1955</h1>
    <div id="demo">
  <h2>All teh users</h2>
  <button id="select_link" type="button" onclick="seeAll()">See All</button>
</div>
    <script >
    var allUsers=[];
    function seeAll() {
      $.ajax({
            type: "GET",
            url: "http://localhost:8000" ,
            success: function (data) {
              var htmlText = '';
              for ( var key in data ) {
                htmlText += '<div class="div-conatiner">';
                htmlText += '<p class="p-name"> Name: ' + data[key].name + '</p>';
                htmlText += '</div>';
              }
              $('body').append(htmlText);
            }
        });
     }

    </script>
  </body>
</html>
